{
  "CN": "system:kube-controller-manager",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "O": "system:kube-controller-manager",
      "C": "US",
      "ST": "Austin",
      "L": "TX",
      "OU": "Kubernetes"
    }
  ]
}